body {
  padding-top: 51px;
}

.content p {
  font-family: "Source Sans Pro", "Helvectica", "Arial", "sans-serif";
  font-size: 140%;
  line-height: 125%;
  margin-bottom: 1em;
}

.cover {
  background: no-repeat center center;
  background-size: cover;
  padding: 5%;
  text-align: center;
}
